
@font-face {
  font-family: "bodyfont";
  /**
   * Copyright Information of Inconsolata.otf
   * Lisence: Open Font Lisence
   * Author: Raph Levien
   * URL: http://www.levien.com/type/myfonts/inconsolata.html
   */
  src: url("Inconsolata.otf") format("opentype");
}

body {
  font-family: "bodyfont";
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

body > h1 {
  text-align: center;
}

header {
  background-color: black;
  margin: 0px;
}

header h1 {
  font-size: medium;
  margin: 0px;
  text-align: center;
}

header a:link, header a:visited {
  color: white;
  text-decoration: none;
}

section {
  margin: 0px;
  padding: 0px 8px 0px 8px;
}

p {
  padding: 0px 8px 0px 8px;
}

table {
  border: 1px solid black;
}

td, th {
  border: 1px solid black;
  padding: 3px;
}

th {
  background-color: black;
  color: white;
}

td.numeric {
  text-align: right;
}

pre {
  border: 1px solid;
  padding: 10px;
}

kbd {
  font-family: "bodyfont";
  font-weight: bold;
  color: green;
}

code {
  font-family: "bodyfont";
}

/**
 * vim: tabstop=2 shiftwidth=2 expandtab softtabstop=2
 */
